<div class="container-flex h-100">
    <div class="row h-100">
        <div class="col-8 border-right">
            <div class="row h-100">
                <div class="col">
                    <div class="row h-75">
                        <div class="col border-bottom">
                            <div *ngIf="currentChatroom">
                                <div class="row pl-1 pl-0 mb-1" [ngClass]="{'justify-content-end': message.own}"
                                    *ngFor="let message of currentChatroom.messages">
                                    <div class="col-6">
                                        <mat-card>
                                            <mat-card-title>{{message.sender.username}}</mat-card-title>
                                            <mat-card-content>{{message.content}}</mat-card-content>
                                            <mat-card-subtitle>{{message.sentOnUtc}}</mat-card-subtitle>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row h-25">
                        <div class="col-11 pr-0">
                            <textarea rows="5" class="w-100 h-100 border-0" matInput
                                placeholder="Type a message..."></textarea>
                        </div>
                        <div class="col-1 p-0">
                            <button class="w-100 h-100" mat-raised-button (click)="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <mat-action-list>
                        <button mat-list-item *ngFor="let chatroom of chatrooms" (click)="loadChatroom(chatroom)">
                            {{chatroom.name}}
                        </button>
                    </mat-action-list>
                </div>
            </div>
            <div class="row pt-1 justify-content-center text-center">
                <div class="col-6">
                    <button class="w-50" mat-raised-button (click)="createChatRoom()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>